.bg-light {
  color: rgba(0,0,0,.5)!important;
}

.bg-dark {
  color: #FFF!important;
}

html {
  width: 100%;
  height: 100%;
}

.bg-light header,
.bg-light section {
  border-bottom: 1px solid rgba(0,0,0,.5)!important;
}

.bg-dark header,
.bg-dark section {
  border-bottom: 1px solid rgba(255,255,255,.5)!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: {{ site.color.links }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

.bg-light a {
  color: rgba(0,0,0,.5)!important;
}

.bg-dark a {
  color: #FFF;
}

.bg-light #mainNav.navbar-shrink {
  border-bottom: 1px solid rgba(0,0,0,.5)!important;
}

.bg-light .navbar-light .navbar-toggler {
  border: 1px solid rgba(0,0,0,.5)!important;
}

.bg-light .navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5)!important;
}

.masthead {
  background-color: transparent!important;
}

.bg-light .masthead {
  color: rgba(0,0,0,.3); 
}

.bg-dark .masthead {
  color: #FFF;
}

/* BEGIN: Typer */
@keyframes blink-light { 
  50% { 
    border-color: transparent;
  } 
  100% { 
    border-color: rgba(0,0,0,.5);
  } 
}

.bg-light .typewrite > .wrap { 
  border-right: 0.08em solid rgba(0,0,0,.5); 
  animation: blink-light .5s step-end infinite alternate;
}

@keyframes blink-dark { 
  50% { 
    border-color: transparent;
  } 
  100% { 
    border-color: #FFF;
  } 
}

.bg-dark .typewrite > .wrap { 
  border-right: 0.08em solid #FFF; 
  animation: blink-dark .5s step-end infinite alternate;
}
/* END: Typer */

.btn-circle {
  width: 70px;
  height: 70px;
  margin: 15px;
  padding: 7px 16px;
  border-radius: 35px;
  font-size: 40px;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.bg-light .btn-circle {
  color: rgba(0,0,0,.5);
  border: 2px solid rgba(0,0,0,.5);
}

.bg-dark .btn-circle {
  color: #FFF;
  border: 2px solid #FFF;
}

.bg-light .btn-circle:hover,
.bg-light .btn-circle:focus {
  outline: 0;
  color: rgba(0,0,0,.5);
  border: 2px solid rgba(0,0,0,.5);
  background: rgba(0,0,0,.1);
}

.bg-dark .btn-circle:hover,
.bg-dark .btn-circle:focus {
  outline: 0;
  color: #FFF;
  border: 2px solid #FFF;
  background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@-moz-keyframes pulse {    
  0% {
      -moz-transform: scale(1);
      transform: scale(1);
  }

  50% {
      -moz-transform: scale(1.2);
      transform: scale(1.2);
  }

  100% {
      -moz-transform: scale(1);
      transform: scale(1);
  }
}

#skills .progress {
  height: 15px;
}

#skills i.tech {
  font-size: 3rem;
}

#skills .progress .progress-bar {
  transition: unset;
}

div.imac-mockup {
    position: relative;
    max-width: 65%;
    margin: 20px;
  }
  
  .imac-mockup img.device {
    width: 100%;
    height: auto;
  }
  
  .imac-mockup .screen {
    position: absolute;
    width: 92%;
    height: 64.5%;
    top: 5%;
    border-radius: 2px;
    left: 4%;
    background-color: #aaa;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .bg-light .imac-mockup .screen {
    background: url(/assets/img/ameh-light.png);
    background-size: contain;
  }

  .bg-dark .imac-mockup .screen {
    background: url(/assets/img/ameh-dark.png);
    background-size: contain;
  }
  
  .imac-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -26%;
    right: -39%;
    transform: rotate(-19deg);
    opacity: 0.1;
  }
  
div.iphone-mockup {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  max-width: 13%;
  margin: 20px;
}
  
  .iphone-mockup img.device {
    width: 100%;
    height: auto;
  }
  
  .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .bg-light .iphone-mockup .screen {
    background: url(/assets/img/ameh-mobile-light.png);
    background-size: contain;
  }

  .bg-dark .iphone-mockup .screen {
    background: url(/assets/img/ameh-mobile-dark.png);
    background-size: contain;
  }
  
  .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
  }
  
div.macbook-mockup {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  max-width: 85%;
  margin: 20px;
}
  
  .macbook-mockup img.device {
    width: 100%;
    height: auto;
  }
  
  .macbook-mockup .screen {
    position: absolute;
    width: 76%;
    height: 82.5%;
    top: 6.5%;
    border-radius: 4px;
    left: 12%;
    background-color: #aaa;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .bg-light .macbook-mockup .screen {
    background: url(/assets/img/ameh-light.png);
    background-size: contain;
  }

  .bg-dark .macbook-mockup .screen {
    background: url(/assets/img/ameh-dark.png);
    background-size: contain;
  }
  
  .macbook-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -26%;
    right: -39%;
    transform: rotate(-19deg);
    opacity: 0.1;
  }
  
  /* Theme-Selector */
  .button-con {
    cursor: default;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 10;
  }
  
  #dayIcon {
    position: relative;
    width: 18px;
    height: 18px;
    top: -15px;
    margin: 0 5px;
    fill: #9caec0;
  }
  
  #nightIcon {
    position: relative;
    width: 18px;
    height: 18px;
    top: -15px;
    margin: 0 5px;
    fill: #9caec0;
  }
  
  #dayIcon, #nightIcon {
    cursor: pointer;
  }
  
  .toggle {
    display: none;
  }
  
  .toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
    background: none;
  }
  
  .toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
    background: none;
  }
  
  .toggle + .toggle-button {
    outline: 0;
    display: inline-block;
    width: 3em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    border: 2px solid #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .toggle + .toggle-button:after, .toggle + .toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  
  .toggle + .toggle-button:after {
    left: 0;
  }
  
  .toggle + .toggle-button:before {
    display: none;
  }
  
  .toggle:checked + .toggle-button:after {
    left: 50%;
  }
  
  .toggle + .toggle-button {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 2px solid rgba(156, 174, 192, 0.27);
    border-radius: 2em;
  }
  
  .toggle + .toggle-button:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: rgba(156, 174, 192, 0.27);
    content: "";
    border-radius: 1em;
  }
  
  .toggle:checked + .toggle-button:after {
    left: 50%;
  }