<section id="about" class="content-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 mx-auto">
                <h2>About AMEH</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <img src="assets/img/kl-cropped.jpg" class="profile"/>
            </div>
            <div class="col-md-6 mx-auto">
                <p>Allen is an experienced technical lead and full stack developer with a demonstrated history in the benefits outsourcing industry. He specializes in developing maintainable applications specific to the business needs of the client.</p>
                <p>Pronouns: he, him, his.</p>
            </div>
        </div>
    </div>
</section>