<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About AMEH</h2>
                <p>Allen is becoming more and more intrigued by the growing field of technology and how it can be implemented. He recently received a bachelors degree in Computer Science combined with a Management minor from the University of Minnesota.</p>
                <p>Upon Allens'​ completion of his undergraduate degree, he fully comprehends the impact technology has on a firms' functions. Allens'​ additional course work has transformed his thought process all together. When given a problem, he will utilize his relevant knowledge and skills in an effort to achieve the best possible solution.</p>
                <p>Allen is currently working as a Technical Lead and Software Developer for Willis Towers Watson.</p>
            </div>
        </div>
    </div>
</section>