<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h2>About AMEH</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div id="linkedIn-dark" class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="allen-hansen"><a class="LI-simple-link" href='https://www.linkedin.com/in/allen-hansen?trk=profile-badge'>Allen Hansen</a></div>
                <div id="linkedIn-light" class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="allen-hansen" style="display: none;"><a class="LI-simple-link" href='https://www.linkedin.com/in/allen-hansen?trk=profile-badge'>Allen Hansen</a></div>
            </div>
            <div class="col-md-6 mx-auto">
                <p>Allen is an experienced technical lead and full stack developer with a demonstrated history in the benefits outsourcing industry. He specializes in developing maintainable applications specific to the business needs of the client.</p>
                <p>Pronouns: he, him, his.</p>
            </div>
        </div>
    </div>
</section>