    <section id="contact" class="content-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Get in touch!</h3>
                    <p>Although I'm not currently looking for any freelance opportunities, my inbox is always open. Whether for a potential project or just to say hi, I'll try my best to answer your email!</p>
                    <a href="mailto:hans5117@umn.edu"><button class="btn btn-outline-light btn-lg" type="button"><i class="fa fa-envelope fa-fw"></i><span class="network-name">&nbsp; Email</span></button></a>
                </div>
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <div class="iphone-mockup"><img src="/assets/img/iphone.svg" class="device">
                        <div class="screen"></div>
                    </div>
                    <div class="macbook-mockup"><img src="/assets/img/macbook.svg" class="device">
                        <div class="screen"></div>
                    </div>
                    <div class="imac-mockup"><img src="/assets/img/imac.svg" class="device">
                        <div class="screen"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>