    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1>
                            <span class="typewrite" data-period="2000" data-type='[ "Allen M. E. Hansen", "AMEH" ]'><span class="wrap"></span></span>
                        </h1>
                        <p class="intro-text">
                            A prominent full-stack developer, 
                            <br/>who is always thinking outside the &#123; brackets &#125;.
                        </p>
                        <a class="btn btn-link btn-circle js-scroll-trigger" role="button" href="#about">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
