<section id="skills" class="content-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-md-12 col-lg-11 offset-lg-1 text text-center">
                <h3>Skills</h3>
            </div>        
        </div>
        <div class="row align-items-center .mt-5">
            <div class="col-md-12 col-lg-5 offset-lg-1 text">
                {% for skill in site.left-skills %}
                <p class="text-center"><i class="tech {{ skill.icon-class }}"></i></p>
                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="{{ skill.percent }}" aria-valuemin="0" aria-valuemax="100">{{ skill.percent }}%</div>
                </div>
                <br/>
                {% endfor %}
            </div>
            <div class="col-md-12 col-lg-5 offset-lg-1 text">
                {% for skill in site.right-skills %}
                <p class="text-center"><i class="tech {{ skill.icon-class }}"></i></p>
                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="{{ skill.percent }}" aria-valuemin="0" aria-valuemax="100" >{{ skill.percent }}%</div>
                </div>
                <br/>
                {% endfor %}
            </div>
        </div>
    </div>
</section>