@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-color-mode=dark], [data-color-mode=dark] *));

@theme {
  --font-sans: Geist, system-ui, sans-serif;
  --font-mono: Geist Mono, ui-monospace, monospace;

  --color-primary-50: color-mix(
    in oklch,
    var(--color-slate-50) 80%,
    var(--color-teal-50) 20%
  );
  --color-primary-100: color-mix(
    in oklch,
    var(--color-slate-100) 70%,
    var(--color-teal-100) 30%
  );
  --color-primary-200: color-mix(
    in oklch,
    var(--color-slate-200) 60%,
    var(--color-teal-200) 40%
  );
  --color-primary-300: color-mix(
    in oklch,
    var(--color-slate-300) 50%,
    var(--color-teal-300) 50%
  );
  --color-primary-400: color-mix(
    in oklch,
    var(--color-slate-400) 40%,
    var(--color-teal-400) 60%
  );
  --color-primary-500: color-mix(
    in oklch,
    var(--color-slate-500) 30%,
    var(--color-teal-500) 70%
  );
  --color-primary-600: color-mix(
    in oklch,
    var(--color-slate-700) 30%,
    var(--color-cyan-700) 70%
  );
  --color-primary-700: color-mix(
    in oklch,
    var(--color-slate-800) 25%,
    var(--color-cyan-800) 75%
  );
  --color-primary-800: color-mix(
    in oklch,
    var(--color-slate-900) 20%,
    var(--color-cyan-900) 80%
  );
  --color-primary-900: color-mix(
    in oklch,
    var(--color-slate-950) 15%,
    var(--color-cyan-950) 85%
  );
  --color-primary-950: color-mix(
    in oklch,
    var(--color-slate-950) 5%,
    var(--color-cyan-950) 95%
  );
}

@layer base {
  :root {
    color-scheme: light dark;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  :root[data-color-mode='light'] {
    color-scheme: light;
  }

  :root[data-color-mode='dark'] {
    color-scheme: dark;
  }

  /*
    The default border color has changed to `currentColor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.
    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
  */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
