/* BEGIN: Typer */
@keyframes blink-light { 
    50% { 
      border-color: transparent;
    } 
    100% { 
      border-color: rgba(0,0,0,.5);
    } 
  }
  
  .bg-light .typewrite > .wrap { 
    border-right: 0.08em solid rgba(0,0,0,.5); 
    animation: blink-light .5s step-end infinite alternate;
  }
  
  @keyframes blink-dark { 
    50% { 
      border-color: transparent;
    } 
    100% { 
      border-color: #FFF;
    } 
  }
  
  .bg-dark .typewrite > .wrap { 
    border-right: 0.08em solid #FFF; 
    animation: blink-dark .5s step-end infinite alternate;
  }
  /* END: Typer */