---
import { SITE_TITLE } from '~/consts'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout
  title={`About | ${SITE_TITLE}`}
  description="TODO"
  image="/blog-placeholder-about.jpg"
>
  <div
    class="prose grid w-full place-content-center dark:prose-invert prose-headings:text-center"
  >
    <h1>About</h1>
    <h2>Coming soon...</h2>
  </div>
</MainLayout>
