<div class="flex flex-auto self-end justify-end md:max-h-full dark:grayscale">
  <img
    src="assets/images/hero.webp"
    alt="Allen Hansen"
    class="object-scale-down object-bottom"
    loading="lazy"
  />
</div>
<div
  class="flex flex-col flex-auto flex-wrap justify-end md:justify-center items-center md:items-end text-center md:text-right gap-4 font-extrabold"
>
  <h1 class="text-3xl lg:text-4xl whitespace-nowrap">Allen Hansen</h1>
  <h2 class="text-2xl lg:text-3xl whitespace-nowrap">
    <!-- <span class="inline-block bg-neutral-800 -skew-x-12">
      <span class="relative bg-clip-text text-transparent bg-rose-500 p-1"
        >Full Stack Software Developer</span
      >
    </span> -->

    Full Stack <span class="text-rose-500">Software Developer</span>
  </h2>
  <h3 class="text-neutral-500">
    I&apos;m a full stack software developer with 5+ years of experience.
    <br class="hidden md:block" />I specialize in developing REST APIs and
    single page applications (SPAs) that perform at scale.
  </h3>
  <div class="flex gap-6 text-neutral-500">
    <a
      class="scale-125 ease-in-out duration-300 hover:scale-150 hover:text-rose-500"
      href="https://github.com/AMEH64"
      target="_blank"
      rel="norefer noopener"
      title="Allen's GitHub Profile"
      ><fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon
    ></a>
    <a
      class="scale-125 ease-in-out duration-300 hover:scale-150 hover:text-rose-500"
      href="https://www.linkedin.com/in/allen-hansen"
      target="_blank"
      rel="norefer noopener"
      title="Allen's LinkedIn Profile"
      ><fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon
    ></a>
    <a
      class="scale-125 ease-in-out duration-300 hover:scale-150 hover:text-rose-500"
      href="https://twitter.com/ameh64"
      target="_blank"
      rel="norefer noopener"
      title="Allen's Twitter Profile"
      ><fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon
    ></a>
    <a
      class="scale-125 ease-in-out duration-300 hover:scale-150 hover:text-rose-500"
      href="mailto:me@allenhansen.dev"
      target="_blank"
      rel="norefer noopener"
      title="Contact Allen"
      ><fa-icon [icon]="['fas', 'envelope']" size="lg"></fa-icon
    ></a>
  </div>
</div>
