---
import InfoIcon from './icons/info-icon.astro'
import WarningIcon from './icons/warning-icon.astro'

const variants = {
  info: 'border-s-sky-600 dark:border-s-sky-400 bg-sky-500/10',
  warning: 'border-s-yellow-600 dark:border-s-yellow-400 bg-yellow-500/10',
} as const

type Variant = keyof typeof variants

type Props = {
  class?: string
  variant: Variant
}

const { class: className, variant } = Astro.props

const [title, Icon] = {
  info: ['Information', InfoIcon],
  warning: ['Warning', WarningIcon],
}[variant]
---

<div
  class:list={[
    'rounded-md border-s-4 px-4 py-3 dark:prose-invert forced-colors:outline [&>:first-child]:mt-0 [&>:last-child]:mb-0',
    variants[variant],
    className,
  ]}
>
  <div class="flex items-center gap-2 font-semibold">
    <Icon />
    {title}
  </div>
  <slot />
</div>
