---
import { Button } from './button'
import GitHubIcon from './icons/git-hub-icon.astro'
import LinkedInIcon from './icons/linked-in-icon.astro'
---

<footer
  class="mx-auto flex w-full max-w-7xl px-4 py-2 sm:px-6 sm:py-3 lg:px-8 lg:py-4"
  transition:animate="none"
>
  <div
    class="mx-auto flex w-full max-w-3xl flex-col items-center gap-3 sm:flex-row-reverse sm:justify-between sm:gap-6"
  >
    <div class="flex justify-center space-x-3">
      <Button
        aria-label="Follow on GitHub"
        as="a"
        href="https://github.com/AMEH64"
        target="_blank"
        rel="noopener noreferrer"
        variant="text"
      >
        <GitHubIcon />
        <span class="sr-only">GitHub</span>
      </Button>
      <Button
        aria-label="Follow on LinkedIn"
        as="a"
        href="https://www.linkedin.com/in/allen-hansen"
        target="_blank"
        rel="noopener noreferrer"
        variant="text"
      >
        <LinkedInIcon />
        <span class="sr-only">LinkedIn</span>
      </Button>
    </div>
    <div>
      <p
        class="text-pretty text-center text-sm leading-5 text-zinc-600 dark:text-zinc-400"
      >
        &copy; {new Date().getFullYear()} Allen Hansen. All rights reserved.
      </p>
    </div>
  </div>
</footer>
