---
import type { HTMLAttributes } from 'astro/types'
import { Button } from './button'
import { classNames } from '~/utils/class-names'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const active = href === pathname || href === '/' + subpath?.[0]
---

<Button
  as="a"
  className={classNames(
    className,
    'group inline-block font-semibold',
    'data-[active=true]:underline data-[active=true]:decoration-emerald-500 data-[active=true]:underline-offset-4'
  )}
  data-active={active.toString()}
  href={href}
  variant="text"
  {...props}
>
  <slot />
</Button>
