---
import Bars3BottomRightIcon from './icons/bars-3-bottom-right-icon.astro'
import Button from './button.astro'
import ColorModeToggle from './color-mode-toggle.astro'
import HeaderLink from './header-link.astro'
import Modal from './modal.astro'
---

<header
  class="sticky top-0 z-10 w-full border-b border-zinc-300/40 bg-white shadow backdrop-blur supports-[backdrop-filter]:bg-white/65 dark:border-zinc-700/40 dark:bg-zinc-900 dark:shadow-zinc-950 dark:supports-[backdrop-filter]:bg-zinc-900/65"
  transition:animate="none"
>
  <div
    class="mx-auto flex h-16 max-w-screen-2xl flex-1 items-center justify-between gap-4 px-4 sm:px-6 lg:px-8"
  >
    <nav class="flex items-center justify-start gap-3">
      <Button as="a" class="font-mono tracking-tight" href="/" variant="text">
        &lt;AllenHansen&nbsp;/&gt;
      </Button>
      <div class="hidden sm:contents">
        <div
          class="inline-block h-6 w-0.5 rounded-full bg-zinc-300 dark:bg-zinc-700"
        >
        </div>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </div>
    </nav>
    <div class="flex items-center justify-end gap-3">
      <ColorModeToggle class="hidden sm:block" />
      <Button class="sm:hidden" data-slot="open" variant="text">
        <Bars3BottomRightIcon />
        <span class="sr-only">Open Menu</span>
      </Button>
    </div>
  </div>
</header>
<Modal class="sm:hidden">
  <h1 class="mb-3 block text-balance text-xl font-semibold">Menu</h1>
  <nav class="flex flex-col items-start gap-3">
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
  <ColorModeToggle class="mt-3" />
</Modal>

<script>
  document.addEventListener('astro:page-load', () => {
    const dialog = document.querySelector('dialog')
    const closeButton = document.querySelector('button[data-slot=open]')

    closeButton?.addEventListener('click', () => {
      dialog?.showModal()
    })
  })
</script>
